@media (max-width: 992px) {
  .nav_bar {
    display: none;
  }
  .toggle_btn {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }

  .toggle_btn i {
    font-size: 28px;
    color: #012970;
  }

  .inner_banner {
    flex-direction: column;
  }

  .banner_content h1 {
    font-size: 48px;
    text-align: center;
  }
  .banner_content p {
    text-align: center;
  }

  .banner_btn_container {
    justify-content: center;
  }
  .banner_image {
    margin-top: 40px;
  }

  .inner_about {
    flex-direction: column;
  }

  .value_box_container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .value_box {
    flex-basis: 100%;
  }

  .section_title {
    font-size: 28px;
    line-height: 32px;
  }

  .footer_info {
    flex-basis: 100%;
  }

  .footer_links {
    flex-basis: 48%;
  }
}

@media (max-width: 768px) {
  .banner_content h1 {
    font-size: 38px;
    text-align: center;
  }

  .footer_news_latter form input[type="submit"] {
    padding: 10px 16px;
  }

  .inner_footer_info {
    justify-content: center;
  }
}
