/* Common Css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 100px 0;
}
/* Header Style */
header {
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.inner_header {
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner_header .logo {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.inner_header .logo img {
  width: 100%;
}
.nav_bar {
}
.nav_bar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_bar ul li {
  margin-left: 6px;
}
.nav_bar ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  transition: 0.3s;
  column-gap: 5px;
}

.nav_bar ul li a.common_btn,
.common_btn {
  background: #4154f1;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.nav_bar ul li a:hover {
}

.toggle_btn {
  display: none;
}

/* Banner Style */
#banner {
  background-image: url("https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.inner_banner {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_content {
  max-width: 660px;
  width: 100%;
}
.banner_content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #012970;
  line-height: 1.2;
}
.banner_content p {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.banner_btn_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.banner_btn_container a.common_btn {
  margin-left: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  min-width: 173px;
}

.banner_btn_container a i {
  margin-left: 8px;
  transition: 0.3s;
}

.banner_btn_container a:hover i {
  margin-left: 12px;
}

.banner_image {
}
.banner_image img {
  width: 100%;
}

/* About Style */

.inner_about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_content {
  background-color: #f6f9ff;
  padding: 40px;
  flex-basis: 50%;
}

.about_content h6 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.about_content h4 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about_content p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about_img {
  flex-basis: 50%;
}

.about_img img {
  width: 100%;
}

.about_btn_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about_btn_container a {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

/* value section */

.section_mini_title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
  text-align: center;
}

.section_title {
  margin: 10px 0 0 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  text-align: center;
}

.value_box_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  column-gap: 2%;
}

.value_box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  flex-basis: 32%;
}

.value_box .img_container {
  width: 100%;
  min-height: 300px;
}

.value_box .img_container img {
  width: 100%;
  transition: 0.5s;
}

.value_box:hover .img_container img {
  transform: scale(0.9);
}

.value_box h4 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

/* footer */

.footer_news_latter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer_news_latter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
  text-align: center;
}

.footer_news_latter p {
  text-align: center;
}

.footer_news_latter form {
  max-width: 636px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  background: #fff;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #e1ecff;
  padding-left: 10px;
}

.footer_news_latter form input[type="email"] {
  flex: 1;
  outline: none;
  border: none;
}

.footer_news_latter form input[type="submit"] {
  border: 0;
  font-size: 16px;
  padding: 15px 30px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

/* footer top */
.footer_top {
  background: white
    url("https://bootstrapmade.com/demo/templates/FlexStart/assets/img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

/* Footer Top */

.inner_footer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner_footer_info > div {
  margin: 30px 0;
  padding: 0 15px;
}

.footer_info {
  flex-basis: 42%;
}

.footer_links {
  flex-basis: 17%;
}

.footer_contact {
  flex-basis: 23%;
}

.footer_info .logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer_info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer_info .social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
